# Kaiten
KAITEN_API_TOKEN=ваш_токен_апи_kaiten
KAITEN_DOMAIN=ваш_домен_kaiten
KAITEN_SPACE_ID=ID_пространства
KAITEN_BOARD_ID=ID_доски
KAITEN_COLUMN_ID=ID_колонки

# Microsoft
MS_CLIENT_ID=ваш_client_id_microsoft