# Microsoft To Do
MS_CLIENT_ID=your_client_id_here

# Kaiten
KAITEN_API_TOKEN=your_api_token_here
KAITEN_DOMAIN=your_domain.kaiten.ru
KAITEN_SPACE_ID=your_space_id
KAITEN_BOARD_ID=your_board_id
KAITEN_COLUMN_ID=your_column_id